<h1>Mynd Management</h1>

<nav role="navigation" class="navbar navbar-expand-md navbar-dark sticky-top">
  <div class="container">

    <a class="navbar-brand" routerLink="/">
      <img alt="Mynd.co Logo" height="40" src="assets/logo.png" />
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNav" aria-controls="topNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="topNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" *ngFor="let option of menu" [routerLink]="option.link" routerLinkActive="active">
            {{ option.title }}
          </a>
        </li>
      </ul>
    </div>

  </div>
</nav>
