app-form-builder
  dyn-form
    display: flex
    flex-wrap: wrap

    dyn-factory
      flex: 45%
      margin-right: 5%

  .mat-checkbox
    display: block
    // equalize to mat-form-field(outline)
    padding: 0.74625em 0 1.40em
