app-form-builder {
  dyn-form,
  dyn-group {
    display: flex;
    flex-wrap: wrap;

    .dyn-component {
      flex: 45%;
      margin-right: 5%;

      &.dyn-component-agentShowing,
      &.dyn-component-codeBox,
      &.dyn-component-smartLock {
        flex: 100%;
        margin-right: 0;
      }
    }
  }

  .mat-checkbox {
    display: block;
    // equalize to mat-form-field(outline)
    padding: 1.2em 0 2.65625em;
  }
}
