<section class="container px-2">
  <app-section-badges [badges]="badges"></app-section-badges>
  <app-section-actions [actions]="actions"></app-section-actions>

  <form [formGroup]="form">
    <h3>Builder Form</h3>

    <dyn-form
      [config]="config"
      [form]="form"
      [mode]="mode"
    ></dyn-form>

    <div class="form-actions" fxLayout="row" fxLayoutGap="10px">
      <button type="button" mat-raised-button color="primary" (click)="toggleMode()">
        {{ mode === 'edit' ? 'Switch to Display mode' : 'Back to Edit mode' }}
      </button>
    </div>
  </form>
</section>
