:host {
  display: flex;
  padding: 120px 0;

  .container {
    text-align: center;
  }

  h2 {
    color: #0a253a;
    font-size: 40px;
    font-weight: 700;
    margin-top: 60px;
  }

  p {
    font-size: 18px;
  }
}
