@use '@angular/material' as mat;
@use '@angular/material/core/theming/palette' as palette;

$dark-primary-text: rgba(black, 0.95);
$light-primary-text: white;

// Palette
$mynd-primary: (
  100: #B7EFD5,
  500: #38B87C,
  900: #084E2D,
  contrast: (
    100: palette.$dark-primary-text,
    500: palette.$light-primary-text,
    900: palette.$light-primary-text,
  )
);

$mynd-secondary: (
  100: #B0DDFD,
  500: #2495E5,
  900: #004576,
  contrast: (
    100: palette.$dark-primary-text,
    500: palette.$light-primary-text,
    900: palette.$light-primary-text,
  )
);

$mynd-negative: (
  100: #FFCDCE,
  500: #FC595B,
  900: #5D0B0C,
  contrast: (
    100: palette.$dark-primary-text,
    500: palette.$light-primary-text,
    900: palette.$light-primary-text,
  )
);


// Material
$mynd-typography: mat.define-legacy-typography-config(
  $font-family: 'Inter, monospace',
);

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy($mynd-typography);`
@include mat.all-legacy-component-typographies($mynd-typography);
@include mat.legacy-core();

$color-primary: mat.define-palette($mynd-primary);
$color-accent:  mat.define-palette($mynd-secondary);
$color-warn:    mat.define-palette($mynd-negative);

$mynd-theme: mat.define-light-theme((
  color: (
    primary: $color-primary,
    accent: $color-accent,
    warn: $color-warn,
  )
));

@include mat.all-legacy-component-themes($mynd-theme);
