.mat-card
  margin-bottom: 0.5em

.mat-radio-group
  display: block
  // equalize to mat-form-field
  margin: 0.25em 0
  padding: 1.40em 0 2.09em

.array-item
  position: relative

  // let the bootstrap row to use 100%
  button
    position: absolute
    right: 0
    top: 8px
