<section>
  <section-badges [badges]="badges"></section-badges>
  <section-actions [actions]="actions"></section-actions>

  <form [formGroup]="form">
    <h3>Simple Dynamic Form</h3>

    <dyn-form [config]="config" [form]="form" [mode]="mode"></dyn-form>

    <div class="form-actions" fxLayout="row" fxLayoutGap="10px">
      <button type="button" mat-raised-button color="primary" (click)="toggleMode()">
        {{ mode === 'edit' ? 'Switch to Display mode' : 'Back to Edit mode' }}
      </button>

      <button type="button" mat-raised-button color="accent" (click)="loadData()">
        Load Data
      </button>
    </div>
  </form>
</section>
