:host {
  background-color: #fff;
  display: block;
  padding: 120px 0;

  h2 {
    color: #7a78b4;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -.065ch;
    line-height: 120%;
    margin-top: 0;
  }

  img {
    max-width: 100%;
    vertical-align: middle;
  }
}
