<div class="container container-lg" fxLayout="row" fxLayoutAlign="space-between">
  <div>
    <img class="footer-logo" width="108" src="assets/logo.png" />
    <div class="footer-legal">
      Copyright © 2021. All Rights Reserved.
    </div>
  </div>

  <div class="footer-logos" fxLayout="row" fxLayoutAlign=" start">
    <a href="https://mynd.co" target="_blank">
      <img src="assets/logos/eho.svg" loading="lazy" height="33" alt="equal housing opportunity logo" class="footer-updated-cred-link">
    </a>
    <a href="https://www.facebook.com/myndpm/" target="_blank">
      <img src="assets/logos/fb.svg" loading="lazy" height="24" alt="facebook logo" class="footer-updated-cred-link">
    </a>
    <a href="https://twitter.com/myndpm?lang=en" target="_blank">
      <img src="assets/logos/tw.svg" loading="lazy" height="24" alt="twitter logo" class="footer-updated-cred-link">
    </a>
    <a href="https://www.linkedin.com/company/mynd-management/" target="_blank">
      <img src="assets/logos/linkedin.svg" loading="lazy" height="24" alt="linkedin logo" class="footer-updated-cred-link">
    </a>
    <a href="https://www.netlify.com/" target="_blank">
      <img src="assets/logos/netlify.svg" loading="lazy" height="24" alt="netlify logo" class="footer-updated-cred-link">
    </a>
    <a href="https://github.com/myndpm" target="_blank">
      <img src="assets/logos/github.svg" loading="lazy" height="24" alt="github logo" class="footer-updated-cred-link">
    </a>
  </div>
</div>
