.item {
  margin-bottom: 42px;

  img {
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
  }

  .item-body {
    padding-top: 25px;
    position: relative;

    h2 a {
      text-decoration: none;
    }

    p {
      font-size: 14px;
      line-height: 24px;
      margin: 0;
    }
  }
}
