<header fxLayout="column" fxLayoutAlign="center center">
  <div class="container-xl">
    <h2>Mynd.co + Angular</h2>
    <span>Open Source libraries documentation</span>
  </div>
</header>

<main class="container-xl">
  <div fxLayout="row" fxLayoutGap="3%" fxLayout.lt-md="column">
    <div fxFlex="30%">
      <h3 class="compact">High Quality</h3>
      <p>
        Clear and consistent code, inline documented
        to easily understand the purpose of each section.
      </p>
    </div>

    <div fxFlex="30%">
      <h3 class="compact">Flexible</h3>
      <p>
        Generic software for multiple purposes and use cases,
        to save time and avoid boilerplate.
      </p>
    </div>

    <div fxFlex="30%">
      <h3 class="compact">Supported</h3>
      <p>
        Backed by a big company with a large number
        of Senior Software Developers.
      </p>
    </div>
  </div>

  <div class="call-to-action" fxLayout="column" fxLayoutAlign=" center">
    <button mat-raised-button color="primary" routerLink="/docs/dyn-forms">
      Check the Docs Here
    </button>
  </div>
</main>
