.col {
  img {
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
  }

  .col-body {
    position: relative;
    text-align: center; // FIXME restore if we add images per demo

    h2 a {
      text-decoration: none;
    }

    p {
      font-size: 14px;
      line-height: 24px;
    }
  }
}
