@import '~@angular/material/theming';

$dark-primary-text: rgba(black, 0.95);
$light-primary-text: white;

// Palette
$mynd-primary: (
  100: #B7EFD5,
  500: #38B87C,
  900: #084E2D,
  contrast: (
    100: $dark-primary-text,
    500: $light-primary-text,
    900: $light-primary-text,
  )
);

$mynd-secondary: (
  100: #B0DDFD,
  500: #2495E5,
  900: #004576,
  contrast: (
    100: $dark-primary-text,
    500: $light-primary-text,
    900: $light-primary-text,
  )
);

$mynd-negative: (
  100: #FFCDCE,
  500: #FC595B,
  900: #5D0B0C,
  contrast: (
    100: $dark-primary-text,
    500: $light-primary-text,
    900: $light-primary-text,
  )
);


// Material
$mynd-typography: mat-typography-config(
  $font-family: 'Inter, monospace',
);

@include mat-core($mynd-typography);

$color-primary: mat-palette($mynd-primary);
$color-accent:  mat-palette($mynd-secondary);
$color-warn:    mat-palette($mynd-negative);

$mynd-theme: mat-light-theme((
  color: (
    primary: $color-primary,
    accent: $color-accent,
    warn: $color-warn,
  )
));

@include angular-material-theme($mynd-theme);
