/* GLOBALS */
body, html {
  height: 100%;
}

app-root {
  display: block;
  height: 100%;
}

.mat-typography {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin-bottom: 10px;
  }

  h2 {
    color: #0a253a;
    font-family: Poppins,sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
  }

  h3 {
    border-bottom: 4px #000;
    color: #0a253a;
    font-family: Poppins,sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.2em;
    margin-top: 24px;
    margin-bottom: 10px;
    text-align: center;

    &:after {
      content: '';
      display: block;
      width: 124px;
      height: 8px;
      margin: 12px auto 24px;
      background-color: #38b87c;
      text-align: left;
    }
  }
}

p {
  color: #485c6c;
  font-size: 17px;
  line-height: 175%;
  margin-top: 16px;
  margin-bottom: 16px;
}

var {
  background: lightpink;
  color: purple;
  font-style: normal;
  padding: 0 2px;
}

form {
  width: 100%;
}

/* LAYOUT */
.hidden {
  display: none !important;
}
