<div class="container container-lg" fxLayout="row" fxLayoutAlign="space-between">
  <div fxLayout="column" fxLayoutGap="5px">
    <img class="footer-logo" src="assets/logo.png" />
    <div class="footer-legal">
      Copyright © 2021. All Rights Reserved.
    </div>
  </div>

  <div class="footer-logos" fxLayout="row" fxLayoutAlign=" center">
    <a href="https://www.bbb.org/us/ca/oakland/profile/property-management/mynd-1116-876741" target="_blank" class="w-inline-block">
      <img src="assets/logos/bbb.svg" loading="lazy" alt="better business bureau logo" class="footer-updated-cred-link">
    </a>
    <a href="https://mynd.co" class="w-inline-block">
      <img src="assets/logos/eho.svg" loading="lazy" height="40" alt="equal housing opportunity logo" class="footer-updated-cred-link">
    </a>
    <a href="https://www.facebook.com/myndpm/" target="_blank" class="w-inline-block">
      <img src="assets/logos/fb.svg" loading="lazy" height="24" alt="facebook logo" class="footer-updated-cred-link">
    </a>
    <a href="https://twitter.com/myndpm?lang=en" target="_blank" class="w-inline-block"><img src="https://assets-global.website-files.com/5ebdcacf6fe55d6b95c4f2a1/5fd39b8e73bed861e7afd20d_tw.svg" loading="lazy" height="24" alt="twitter logo" class="footer-updated-cred-link"></a><a href="https://www.linkedin.com/company/mynd-management/" target="_blank" class="w-inline-block">
      <img src="assets/logos/linkedin.svg" loading="lazy" height="24" alt="linkedin logo" class="footer-updated-cred-link">
    </a>
  </div>
</div>
