:host
  display: block

  .content-wrapper
    padding: 1em

    ::ng-deep

      > .mat-tab-group

        > .mat-tab-header
          margin-bottom: 24px

          .mat-tab-label-content
            text-transform: uppercase
